@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-News.woff2") format("woff2");
}

@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-ExtBd.woff2") format("woff2");
}

@font-face {
  font-family: "Liber Grotesque Family";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/LiberGrotesqueFamily-ExtBd.woff2") format("woff2");
}
