<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-pwa="none">
  <head>
    <%= render "layouts/head", manifest: false %>
  </head>

  <body data-controller="submit-feedback">
    <%= yield %>
  </body>
</html>
